//- variables
block variables
  include ../../abstracts/variables


doctype html
html(lang="ru")
  head
    include ../main/head
  body
    include ../main/header
    main
      block content
    include ../main/footer
