-
  headerBtns = [
    'Buds',
    'Edible',
    'Non Edible',
    'Concentrate'
  ]

  ranges = [
    {
      title: 'Price Range',
      min: 234,
      max: 9999,
      count: '$'
    }, {
      title: 'ТНС,',
      min: 0,
      max: 65,
      count: '%'
    }, {
      title: 'CBD,',
      min: 0,
      max: 65,
      count: '%'
    }
  ]

  sortByList = [
    {
      title: 'Date (New first)',
      img: require('@/assets/img/index/sortby/date.svg'),
      imgMin: '',
    }, {
      title: 'Date (Old first)',
      img: require('@/assets/img/index/sortby/date.svg'),
      imgMin: '',
    }, {
      title: 'Price (High first)',
      img: require('@/assets/img/index/sortby/arrow-top.svg'),
      imgMin: '',
    }, {
      title: 'Price (Low first)',
      img: require('@/assets/img/index/sortby/arrow-bottom.svg'),
      imgMin: '',
    }, {
      title: 'Total THC (High first)',
      img: require('@/assets/img/index/sortby/THC.svg'),
      imgMin: '',
    }, {
      title: 'Total THC (Low first)',
      img: require('@/assets/img/index/sortby/THC.svg'),
      imgMin: '',
    }, {
      title: 'Total CBD (High first)',
      img: require('@/assets/img/index/sortby/CBD.svg'),
      imgMin: '',
    }, {
      title: 'Total CBD (Low first)',
      img: require('@/assets/img/index/sortby/CBD.svg'),
      imgMin: '',
    }
  ]

  resultsTopBtns = [
    '100% Indica',
    '>50% Indica',
    'Indoor',
    'Flower',
    'SellerSeller',
    'Distributor',
  ]

  filters = [
    {
      title: 'Classification',
      items: [
        '100% Indica',
        '100% Sativa',
        '>50% Indica',
        '>50% Sativa',
      ]
    }, {
      title: 'Production Method',
      items: [
        'Indoor',
        'Outdoor',
        'Greenhouse',
        'Light Deprivation',
        'Mixed Light',
        'Other',
      ]
    }, {
      title: 'Size',
      items: [
        'Flower',
        'Pre-Roll Flower',
        'Pre-Roll Infused',
        'Pre-Roll Leaf',
        'Shake',
        'Smalls',
        'Trim',
        'Shake',
        'Keef',
        'Fresh Frozen',
      ]
    }
  ]


