-
  contacts= [
    {
      title: '',
      link: 'https://yandex.ru/maps/-/CCUbe-sBoD',
      img: require('@/assets/img/location.svg'),
      text: 'г. Санкт-Петербург',
    }, {
      title: 'Режим работы',
      link: '#',
      img: require('@/assets/img/time.svg'),
      text: 'г. Санкт-Петербург',
    },
  ]

