@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

html
  scroll-behavior: smooth

body
  margin: 0 auto
  background-color: $bg

*
  box-sizing: border-box
  margin: 0
  padding: 0

input
  border: none

  &:active, &:hover, &:focus
    outline: 0
    outline-offset: 0

.container
  padding: 0 37px 0 28px


.range-line
  position: relative

.slider
  -webkit-appearance: none
  width: 100%
  height: 4px
  border-radius: 3px
  background: $gray-choose
  outline: none
  -webkit-transition: .2s
  transition: opacity .2s

  &::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 16px
    height: 16px
    border-radius: 50%
    background: linear-gradient(193.42deg, #85D62D 23.76%, #6BAB2B 86.01%)
    cursor: pointer

  &::-moz-range-thumb
    width: 20px
    height: 20px
    border-radius: 50%
    background: linear-gradient(193.42deg, #85D62D 23.76%, #6BAB2B 86.01%)
    cursor: pointer

.hidden
  opacity: 0 !important

